# Files and directories to exclude from the Docker build context
package-lock.json
*.log
*.pid
*.swp
.DS_Store
.vscode

# Build artifacts to exclude
/build
/dist
/out
/public

# Miscellaneous files and directories to exclude
coverage
.git
.idea
.nyc_output

node_modules
yarn.lock