<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
	<h2 style="color: #003061;">Welcome to Honeybrain!</h2>
	<p>
		You have been invited to Honeybrain. Before getting started, please activate your account by clicking on the link below:
	</p>
	<a href="<%= activationLink %>" style="background-color: #003061; padding: 10px 15px; color: white; text-decoration: none; border-radius: 5px;">Activate My Account</a>
	<p>
		If you did not create an account with Honeybrain, please simply disregard this email.
	</p>
	<br/>
	<p>
		Warm regards,
	</p>
	<p>
		The Honeybrain Team
	</p>
</div>
